/* GENERAL */

html, body {
    height:100%;
    scroll-behavior: smooth;
}

/* Blocks */

.row {
	width: 100%;
	margin: 0 auto;
}

.wrapper {
	width: 100%;
	padding-top: 6%;
	padding-bottom: 6%;
}

/* Fonts */

#home h1 {
	font: 4em 'opensans-bold', sans-serif;
	text-shadow: 0px 1px 3px black;
	font-weight: bolder;
	color: white;
}

#home h2 {
	font: 1.5em 'opensans-bold', sans-serif;
	text-shadow: 0px 1px 2px black;
	font-weight: bolder;
}

.title h3 {
	font: 1.5em 'opensans-bold', sans-serif;
	color: #e3872d; /* Orange */
	text-align: center;
	padding-top: 2%;
	padding-bottom: 3%;
	font-weight: bolder;
}

#titleCV h3 {
	font: 1.5em 'opensans-bold', sans-serif;
}

.title h4 {
	font: 1.3em 'opensans-bold', sans-serif;
	color: black;
	font-weight: bold;
	padding-top: 2%;
}

.text p {
	font: 1.1em 'opensans-bold', sans-serif;
	color: grey;
	line-height: 1.4em;
}

.subtext p {
	font: 1.1em 'opensans-bold', sans-serif;
	text-align: center;	
	margin: auto;
	width: 45%;
	color: white;
	line-height: 1.2em;
}

/* NAVBAR */

.opaque-navbar {
    background-color: rgba(0,0,0,0);
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    height: 60px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
}

.opaque-navbar.opaque {
    background-color: black;
    height: 60px;
    transition: background-color .5s ease 0s;
}

ul.dropdown-menu {
    background-color: black;
}


@media (max-width: 992px) {
  body
  {
    background:transparent;
  }
  .opaque-navbar {
    height: 60px;
    transition: background-color .5s ease 0s;
}

}

/* HEADER */

/* Intro */

#home {
	padding-top: 18%;	
	position: relative;
	width: 100%;
	height: 890px;
	background-image: url(img/laptop2.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover !important;
	-webkit-background-size: cover !important;
	background-color:#464646;
	overflow: hidden;
	text-align: center;
  	color: white;
}

hr {
	width: 23%;
	border: 1px solid white;
}

/* Social links */

.social-1 {
   margin: 24px 0;
   padding: 0;
   font-size: 17px;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}

.social-1 li {
   display: inline-block;
   margin: 0 15px;
   padding: 0;
}

.social-1 li a { color: #fff; }
.social-1 li a:hover { color: #11ABB0; }

.fa-linkedin .fa-github .fa-instagram .fa-envelope {
	font: 15px;
}

/* Arrow down */

.scrolldown a {
   position: absolute;
   bottom: 30px;
   left: 50%;
   margin-left: -29px;
   display: block;
   height: 42px;
   width: 42px;
   font-size: 42px;
   line-height: 42px;
   color: #fff;
   border-radius: 100%;
}
.scrolldown a:hover { color: #F06000; }

/* ABOUT */

#about {
	width: 100%;
	background-color: #232b3a; /* Navy */
	position: relative;
}

/* Profile pic */

#picture {
	text-align: center;
}


#profile {
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 3px solid #f5f5f0;
}

/* CV button */

.btn {
   background: #737373;
   color: white;
   padding-top: 2%;
   padding-bottom: 3%;
}

.btn:hover {
   background: #fff;
   color: #2B2B2B;
}
.btn i {
   margin-right: 10px;
   font-size: 20px;
}

#downloadCV {
	padding-top: 2%;
	text-align: center;
}

/* RESUME */

/* Education / Experience */

#resume {
	width: 100%;
	background-color: white;
}

#education {
	padding-left: 10%;
}

#titleCV {
	color: black; /* Dark mauve */
}

#prepend {
	color: #e3872d;
}

.inline {
	display: inline-block;
}

#experience {
	padding-top: 15px;
	padding-left: 10%;
}

#skills {
	padding-left: 10%;
	padding-bottom: 6%;
}

/* Skillbars */

* {box-sizing:border-box}

.skillSpace {
	padding-bottom: 2%;
}

.containerSkill {
  width: 100%; 
  height: 30px;
  background-color: #ddd; /* Grey */
}

.skill {
  text-align: right;
  padding: 10px;
  color: white;
  height: 30px;
}

.html {width: 90%; background-color: #3D9970;} 
.css {width: 90%; background-color: #3D9970;}
.javascript {width: 50%; background-color: #3D9970;}
.php {width: 50%; background-color: #3D9970;}
.git {width: 50%; background-color: #3D9970;}
.office {width: 90%; background-color: #7FDBFF;} 
.google {width: 90%; background-color: #7FDBFF;}
.indesign {width: 90%; background-color: #7FDBFF;}
.illustrator {width: 60%; background-color: #7FDBFF;}
.vegas {width: 80%; background-color: #7FDBFF;}
.premiere {width: 70%; background-color: #7FDBFF;}
.french {width: 100%; background-color: #FF4136 ;}
.english {width: 95%; background-color: #FF4136 ;}
.spanish {width: 70%; background-color: #FF4136 ;}
.dutch {width: 40%; background-color: #FF4136 ;}

/* PORTFOLIO */

#portfolio {
	width: 100%;
	background-color: #232b3a; /* Navy */
}

/* Carousel */

.container--head {
	width: 50%;
	margin: 0 auto;
	border: 1px solid grey;
}

.carousel-caption {
	width: 50%;
	background: black;
	opacity: 0.5;
	margin: 0 auto;
	padding: 10px;
}

/* CONTACT */

/* Contact details */

#contactTitle {
	padding-top: -10px;
}

.contactDetails{
	padding-left: 10%;
}

/* Form */

.form-control {
	font: 1.1em 'opensans-bold', sans-serif;	
}

#send {
    color: #fff;
    background-color: #e3872d;
    border-color: #fff;
}

#send:hover, #send:focus, #send:active, #send.active, .open>.dropdown-toggle.send {
    color: #e3872d;
    background-color: #fff;
    border-color: #e3872d;
}

/* FOOTER */

#footer {
	width: 100%;
	background-color: #1a1a1a;
   	text-align: center;
}

/* Social links */

.wrapperSmaller {
	width: 100%;
	padding-top: 3%;
	padding-bottom: 3%;
}

.social-2 {
   font-size: 17px;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}

.social-2 li {
   display: inline-block;
   margin: 0 15px;
   padding: 0;
}

.social-2 li a { color: #fff; }
.social-2 li a:hover { color: #11ABB0; }

/* Arrow up */

#scrollup a {
   position: absolute;
   margin-left: -29px;
   font-size: 20px;
   color: grey;
   border-radius: 100%;
}
#scrollup a:hover { color: #F06000; }